.project
.vscode/settings.json
TabletopGames/.classpath
TabletopGames/.project
TabletopGames/.settings/org.eclipse.core.resources.prefs
TabletopGames/.settings/org.eclipse.jdt.apt.core.prefs
TabletopGames/.settings/org.eclipse.jdt.core.prefs
